@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities { 
  .input{
    @apply bg-white border border-gray-300 text-input text-xs rounded-[6px] block w-full px-2 py-3  outline outline-transparent
    placeholder:text-placeholder mb-116 font-poppins  

  }
  .input:focus{
    @apply   outline-[4px] outline-[#91C0FF] shadow-input border-[#1F74E5]  
  }
  .label{
    @apply text-label mb-[9px] block font-poppins text-xs
  }
  .submit{
    @apply bg-[#0067FF] text-white uppercase block w-full px-2 py-3 cursor-pointer
  }

  
  .acrodian-header{
    @apply text-[#101828] py-5  mt-5 text-sm font-normal md:text-base
  }
  .table-heading{
    @apply text-ls text-neutral-800 font-semibold
  }
  
  .table-row-heading{
    @apply text-neutral-700 font-bold text-ls 

  } 
  td{
    @apply py-4 text-neutral-700 font-normal text-ls  
  }
  .box-active{
    @apply bg-[#0074FF] text-white
  }
  .active-vps{
    @apply text-main-blue border-main-blue
  }
 
 

}

@layer base{
  .heading{
    @apply mb-[16px] md:mt-0 mt-5  text-normal md:text-base  font-bold 
  }
  .content-text{
    @apply  font-normal text-[16px]
  }
  .btn{
    @apply inline-block py-116 px-136 rounded-full text-xs font-medium transition-all hover:bg-main-blue hover:text-white
  }
  .vps_table_heading{
    @apply  py-[18px] font-semibold text-xs text-[#6F6F70]
  }
  .vps_tr{
    @apply border-b hover:bg-gray-200 transition-all border-[#EFF1F4]
  } 
  .compare_tr{
    @apply border-b hover:bg-gray-200 transition-all border-[#DFE0E1]
  } 
  .compare_table_heading{
    @apply text-ls font-semibold text-[#1F1F22] py-[18px]
  }
  .compare_table_2nd_heading{
    @apply font-semibold text-[#1F1F22] text-xs
  }
  .compare_table_content_heading{
    @apply font-semibold text-[#1F1F22] text-xs text-left uppercase pt-[30px] pb-[16px] px-[16px]
  }
  .compare_table_content{
    @apply   text-neutral-600 text-xs
  }
  .footer_content_heading{
    @apply mb-[24px] font-medium text-ls text-neutral-400
  }
  .footer_content{
    @apply mb-[10px] text-ls text-white
  }
}